<div class="container mt-4">
    <div class="card">
        <div class="card-body"> 
            <span class="h3">Listado de Peliculas </span>

            <button class="btn btn-primary btn-lg" style="float: right;" routerLink="/create-pelicula">Agregar</button>
            <h5 style="margin-top:30px" *ngIf="peliculas.length == 0">No hay peliculas registradas</h5>
            <table *ngIf="peliculas.length>0"class="table table-striped table-hover mt-5">
                <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Director</th>
                      <th>Protagonista</th>
                      <th>Estudio</th>
                      <th></th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pelicula of peliculas">

                      <td>{{pelicula.nombre}}</td>
                      <td>{{pelicula.director}}</td>
                      <td>{{pelicula.protagonista}}</td>
                      <td>{{pelicula.estudio}}</td>
                      <td>
                        <i class="fas fa-edit fa-lg text-info " style="margin-right:5px" [routerLink]="['/editPelicula/',pelicula.id]"></i>
                        <i (click)="eliminarPelicula(pelicula.id)"class="fas fa-trash-alt fa-lg text-danger"></i>
                      </td>
                    </tr>
                  </tbody>
              </table>
        
        </div>
    </div>
</div>
